node_modules/
dist/
dist-ssr/
*.local
.env
.DS_Store
Thumbs.db
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
android/app/src/main/assets/www/
*.iml
.kotlin/
